/*--------------------------------------------------[ Activities ]--------------------------------------------------*/
#activity-section
{
    height: 890px ;

    margin-top: 30px ;
}

#activity-title
{
    margin-bottom: 20px;
}

#activity-section_showcase        
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    height: 805px;
}

.activity-container
{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;

    justify-content: space-evenly;

    height: 820px;
    width: 23%;

    overflow: hidden;
}

/*----------------------------------------[ Huge snipet ]----------------------------------------*/
.activity_huge-snipet
{
    height: 800px;
    width: 100%; 

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;
}

.activity_huge-snipet-picture
{
    height: 750px;
    width: 100%;

    object-fit: cover;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

/*----------------------------------------[ Medium snipet ]----------------------------------------*/
.activity_medium-snipet
{
    height: 500px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;
}

.activity_medium-snipet-picture
{
    height: 450px;
    width: 100%;

    object-fit: contain;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

/*----------------------------------------[ Small snipet ]----------------------------------------*/
.activity_small-snipet
{
    height: 300px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;
}

.activity_small-snipet-picture
{
    height: 250px;
    width: 100%;

    object-fit: contain;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

/*----------------------------------------[ Smaller snipet ]----------------------------------------*/
.activity_smaller-snipet
{
    height: 230px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;
}

.activity_smaller-snipet-picture
{
    height: 180px;
    width: 100%;

    object-fit: contain;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

/*----------------------------------------[ Mediumer snipet ]----------------------------------------*/
.activity_mediumer-snipet
{
    height: 430px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;
}

.activity_mediumer-snipet-picture
{
    height: 380px;
    width: 100%;

    object-fit: contain;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

/*----------------------------------------[ Snipet text ]----------------------------------------*/
.activity_snipet-text
{
    margin-left: 15px;
    margin-top: 15px;
    
    font-weight: bold;
}
