/*--------------------------------------------------[ Generals ]--------------------------------------------------*/
* 
{
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main_wraper
{
    max-width: 1920px;
    margin: 0 3%;    
}

body 
{
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
}

a
{
    color: black;
}

span
{
    display: block;
}











/*--------------------------------------------------[ Header ]--------------------------------------------------*/
header
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    padding-top: 20px;
}

#logo
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    margin-bottom: 30px;
}

header nav 
{
    display: flex;
    flex-wrap: wrap;
    height: 60px;
}

header nav ul
{
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

header nav ul li a 
{
    padding: 38px;
}

 header nav li a:hover
 {
    border-top: 4px solid #0065FC;
    color: #0065FC;
 }











/*--------------------------------------------------[ Filters ]--------------------------------------------------*/
#filter-section, h2
{
    margin-bottom: 5px;

    border-bottom: 2%;
}

#filter-section p
{
    margin-top: 5px;
    
    border-top: 2% ;
}

/*----------------------------------------[ Filter searching bar ]----------------------------------------*/
#filter_searching-bar
{
    display: flex;
    flex-wrap: wrap ;
    
    width: fit-content;
    height: 50px;

    margin-top: 28px;
    margin-bottom: 25px;
    
    border-radius: 10px;

    border: 1px solid #F2F2F2;
    
    overflow: hidden;
}

#filter_searching-bar a
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    width: 45px;

    background-color: #F2F2F2;
}

#searching-bar_input
{
    width: 260px;
    
    margin-right: 0px;
    
    border-right: 0px;

    padding-left: 20px;

    font-weight: 700;
}

#searching-bar_submit 
{
    width: 115px;

    margin-left: 0px;
    
    border-left: 0px; 

    background-color: #0065FC;
    color: white;

    cursor: pointer;

    font-weight: 700;
}

/*----------------------------------------[ Filter button bar ]----------------------------------------*/
#filter_button-bar
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    width: 65%;

    margin-bottom: 25px;
}

#filter_button-bar-title
{
    margin-right: 45px;
}

#filter_button-bar-buttons
{
    display: flex;
    flex-wrap: wrap;
}

.filter-button 
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    width: fit-content;
    height: fit-content;

    margin-right: 45px;

    border: 2px #F2F2F2 solid;
    border-radius: 30px;
    
    transform: scale(1);
    transition: all 450ms;
}

.filter-button:hover
{
    transform: scale(1.20);
    background-color: #DEEBFF;
}

label
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
}

.filter-button input
{
   display: none;
}

.filter-button_circle
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    
    border-radius: 200px;
    background: #DEEBFF;
}

.filter_button-text
{
    margin-left: 15px;
    margin-right: 15px;

    font-weight: 700;
}

.filter-button i
{
    color: #0065FC;
}

.filter-button a
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

/*----------------------------------------[ Infos ]----------------------------------------*/
#infos
{
    display : flex;
    flex-wrap: wrap;

    align-items: center;

    margin-bottom: 30px;
}

.filter_information-circle
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    
    border-radius: 200px;
    border: 2px solid #F2F2F2;
}

#infos i 
{
    display: flex;
    flex-wrap: wrap;

    color: #0065FC;
}
 
#infos p
{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}



/*--------------------------------------------------[ Generals ]--------------------------------------------------*/
* 
{
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main_wraper
{
    max-width: 1920px;
    margin: 0 3%;    
}

body 
{
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
}

a
{
    color: black;
}

span
{
    display: block;
}











/*--------------------------------------------------[ Header ]--------------------------------------------------*/
header
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    padding-top: 20px;
}

#logo
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    margin-bottom: 30px;
}

header nav 
{
    display: flex;
    flex-wrap: wrap;
    height: 60px;
}

header nav ul
{
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

header nav ul li a 
{
    padding-top: 38px;
    padding-bottom: 20px;
}

 header nav li a:hover
 {
    border-top: 4px solid #0065FC;
    color: #0065FC;
 }











/*--------------------------------------------------[ Filters ]--------------------------------------------------*/
#filter-section, h2
{
    margin-bottom: 5px;

    border-bottom: 2%;
}

#filter-section p
{
    margin-top: 5px;
    
    border-top: 2% ;
}

/*----------------------------------------[ Filter searching bar ]----------------------------------------*/
#filter_searching-bar
{
    display: flex;
    flex-wrap: wrap ;
    
    width: fit-content;
    height: 50px;

    margin-top: 28px;
    margin-bottom: 25px;
    
    border-radius: 10px;

    border: 1px solid #F2F2F2;
    
    overflow: hidden;
}

#filter_searching-bar a
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    width: 45px;

    background-color: #F2F2F2;
}

#searching-bar_input
{
    width: 260px;
    
    margin-right: 0px;
    
    border-right: 0px;

    padding-left: 20px;

    font-weight: 700;
}

#searching-bar_submit 
{
    width: 115px;

    margin-left: 0px;
    
    border-left: 0px; 

    background-color: #0065FC;
    color: white;

    cursor: pointer;

    font-weight: 700;
}

/*----------------------------------------[ Filter button bar ]----------------------------------------*/
#filter_button-bar
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    width: 100%;

    margin-bottom: 25px;
}

#filter_button-bar-title
{
    margin-right: 45px;
    margin-bottom: 15px;
}

#filter_button-bar-buttons
{
    display: flex;
    flex-wrap: wrap;
}

.filter-button 
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    width: fit-content;
    height: fit-content;

    margin-right: 45px;
    margin-bottom: 10px;

    border: 2px #F2F2F2 solid;
    border-radius: 30px;
    
    transform: scale(1);
    transition: all 450ms;
}

.filter-button:hover
{
    transform: scale(1.20);
    background-color: #DEEBFF;
}

label
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
}

.filter-button input
{
   display: none;
}

.filter-button_circle
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    
    border-radius: 200px;
    background: #DEEBFF;
}

.filter_button-text
{
    margin-left: 15px;
    margin-right: 15px;

    font-weight: 700;
}

.filter-button i
{
    color: #0065FC;
}

.filter-button a
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

/*----------------------------------------[ Infos ]----------------------------------------*/
#infos
{
    display : flex;
    flex-wrap: wrap;

    align-items: center;

    margin-bottom: 30px;
}

.filter_information-circle
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    
    border-radius: 200px;
    border: 2px solid #F2F2F2;
}

#infos i 
{
    display: flex;
    flex-wrap: wrap;

    color: #0065FC;
}
 
#infos p
{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}










/*--------------------------------------------------[ Lodging ]--------------------------------------------------*/
#lodging-section
{
    display: flex;
}

/*--------------------------------------------------[ Section ]--------------------------------------------------*/
#lodging-section_main 
{
    display: flex;
    flex-wrap: wrap; 

    flex-direction: column;

    width: 65%;
    height: 770px;
    
    margin-right: 30px;

    border-radius: 30px;

    background-color: #F2F2F2;  
}

#lodging-section_title 
{
    margin-left: 35px;
    margin-top: 35px;

    font-weight: 700;
}

/*----------------------------------------[ Showcase ]----------------------------------------*/
#lodging-section_showcase
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.lodging-snipet
{
    display: block flex;
    flex-wrap: wrap;

    flex-direction: column;

    width: 28%;
    height: 275px;
    
    margin-top: 30px;

    border-radius: 30px;

    box-shadow: 0px 10px 10px #E9E8E8;

    background-color: white; 

    transform: scale(1);
    transition: all 450ms;
} 

.lodging-snipet:hover
{
    transform: scale(1.05);
}

.lodging-snipet_picture
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    width: 96%;
    height: 160px;

    margin-top: 7px;
    margin-left: 6px;
    margin-right: 7px;
    margin-bottom: 12px;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.lodging-snipet_picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.lodging-snipet_name
{
    font-weight: 700;
    height: 30px;

    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
} 

.lodging-snipet_text
{
    height: 30px;

    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 00px;
}

.rating-system
{
    height: fit-content;
    width: fit-content;

    margin-left: 30px;
    margin-top: 0px;

    color: #0065FC;
}

/*----------------------------------------[ See More ]----------------------------------------*/
#lodging-section_seeMore
{
    margin-left: 35px;
    margin-top: 30px;
}

#lodging-section_seeMore a
{
    font-weight: 700;
}










/*--------------------------------------------------[ Aside ]--------------------------------------------------*/
#lodging-aside
{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;

    height: 770px;
    width: 33%;

    border-radius: 30px;

    background-color: #F2F2F2;

}

/*----------------------------------------[ Title ]----------------------------------------*/
#lodging-aside_title
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    height: 35px;

    margin-left: 55px;
    margin-top: 35px;
    
}

#lodging-aside_title h2
{
    margin-bottom: 15px;
}

#lodging-aside_title i
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;


    margin-right: 30px; 
    margin-bottom: 13px;
}

/*----------------------------------------[ Showcase ]----------------------------------------*/
 #lodging-aside_showcase
{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;

    height: 670px;

}

/*----------------------------------------[ Snipet ]----------------------------------------*/
.lodging-aside_snipet
{
    display:  flex;
    flex-wrap: wrap;

    width: 80%;
    height: 180px;

    border-radius: 30px;

    margin:auto; 

    background-color: white; 

    box-shadow: 0px 10px 10px #E9E8E8;

    transform: scale(1);
    transition: all 450ms;
}

.lodging-aside_snipet:hover
{
    transform: scale(1.05);
}

 .lodging-aside_snipet-picture
 {
    width: 42%;
    height: 165px;

    margin-top: 7px;
    margin-left: 6px;
    margin-bottom: 7px;

    border-radius: 30px 0px 0px 30px;

    overflow: hidden;
 }

 .lodging-aside_snipet-picture img
 {
    width: 100%;
    height: 100%;

    object-fit: cover;
 }

.lodging-aside_snipet-text
{
    width: 50%;
    height: 160px;


    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 30px;    
}

 .lodging-aside_snipet-name
 {
    height: fit-content;
    width: fit-content;

    height: 50px;

    font-weight: 700;
 }

.lodging-aside_snipet-text .rating-system
{
    margin-top: 68px;
    margin-left: 5px;
}










/*--------------------------------------------------[ Activities ]--------------------------------------------------*/
#activity-section
{
    height: 825px;

    margin-top: 50px;
}

#activity-title
{
    margin-bottom: 30px;
}

#activity-section_showcase        
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    height: 710px; 
}

.activity-container
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: space-between;

    height: 700px;
    width: 23%;

    transform: scale(1);
    transition: all 450ms;
}

.activity-container:hover
{
    transform: scale(1.05);
}

/*----------------------------------------[ Huge snipet ]----------------------------------------*/
.activity_huge-snipet
{
    display: block flex;

    height: 700px;
    width: 100%; 

    border-radius: 30px;
    box-shadow: 0px 5px 10px #E9E8E8;

    transform: scale(1);
    transition: all 450ms;
}

.activity_huge-snipet:hover
{
    transform: scale(1.02);
}

.activity_huge-snipet-picture
{
    height: 650px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_huge-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Medium snipet ]----------------------------------------*/
.activity_medium-snipet
{
    display: block;

    height: 380px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;

    transform: scale(1);
    transition: all 450ms;
}

.activity_medium-snipet:hover
{
    transform: scale(1.03);
}

.activity_medium-snipet-picture
{
    height: 330px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_medium-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Small snipet ]----------------------------------------*/
.activity_small-snipet
{
    display: block;

    height: 280px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;

    transform: scale(1);
    transition: all 450ms;
}

.activity_small-snipet:hover
{
    transform: scale(1.03);
}

.activity_small-snipet-picture
{
    height: 230px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_small-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Smaller snipet ]----------------------------------------*/
.activity_smaller-snipet
{
    display: block;

    height: 220px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;

    transform: scale(1);
    transition: all 450ms;
}

.activity_smaller-snipet:hover
{
    transform: scale(1.03);
}

.activity_smaller-snipet-picture
{
    height: 170px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_smaller-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Mediumer snipet ]----------------------------------------*/
.activity_mediumer-snipet
{
    display: block;

    height: 320px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;

    transform: scale(1);
    transition: all 450ms;
}

.activity_mediumer-snipet:hover
{
    transform: scale(1.03 );
}

.activity_mediumer-snipet-picture
{
    height: 270px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_mediumer-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}


/*----------------------------------------[ Snipet text ]----------------------------------------*/
.activity_snipet-text
{
    margin-left: 15px;
    margin-top: 15px;
    
    font-weight: 700; 
}










/*--------------------------------------------------[ Footer ]--------------------------------------------------*/
footer
{
    display: flex;
    flex-wrap: wrap;

    height: 200px;

    margin-top: 5px;
    
    background-color: #F2F2F2;
}

footer div
{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;

    width: 26%;

    margin-left: 80px;
 }

 footer div h3
 {
    margin-top: 25px;
    margin-bottom: 25px;
 }

footer div a 
{
    margin-bottom: 12px;
    
    transform: scale(1);
    transition: all 450ms;
}

footer div a:hover 
{ 
    transform: scale(1.20);
}










/*--------------------------------------------------[ Activities ]--------------------------------------------------*/
#activity-section
{
    height: 825px;

    margin-top: 50px;
}

#activity-title
{
    margin-bottom: 30px;
}

#activity-section_showcase        
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    height: 710px; 
}

.activity-container
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: space-between;

    height: 700px;
    width: 23%;

    transform: scale(1);
    transition: all 450ms;
}

.activity-container:hover
{
    transform: scale(1.05);
}

/*----------------------------------------[ Huge snipet ]----------------------------------------*/
.activity_huge-snipet
{
    display: block flex;

    height: 700px;
    width: 100%; 

    border-radius: 30px;
    box-shadow: 0px 5px 10px #E9E8E8;

    transform: scale(1);
    transition: all 450ms;
}

.activity_huge-snipet:hover
{
    transform: scale(1.02);
}

.activity_huge-snipet-picture
{
    height: 650px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_huge-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Medium snipet ]----------------------------------------*/
.activity_medium-snipet
{
    display: block;

    height: 380px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;

    transform: scale(1);
    transition: all 450ms;
}

.activity_medium-snipet:hover
{
    transform: scale(1.03);
}

.activity_medium-snipet-picture
{
    height: 330px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_medium-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Small snipet ]----------------------------------------*/
.activity_small-snipet
{
    display: block;

    height: 280px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;

    transform: scale(1);
    transition: all 450ms;
}

.activity_small-snipet:hover
{
    transform: scale(1.03);
}

.activity_small-snipet-picture
{
    height: 230px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_small-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Smaller snipet ]----------------------------------------*/
.activity_smaller-snipet
{
    display: block;

    height: 220px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;

    transform: scale(1);
    transition: all 450ms;
}

.activity_smaller-snipet:hover
{
    transform: scale(1.03);
}

.activity_smaller-snipet-picture
{
    height: 170px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_smaller-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Mediumer snipet ]----------------------------------------*/
.activity_mediumer-snipet
{
    display: block;

    height: 320px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;

    transform: scale(1);
    transition: all 450ms;
}

.activity_mediumer-snipet:hover
{
    transform: scale(1.03 );
}

.activity_mediumer-snipet-picture
{
    height: 270px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_mediumer-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}


/*----------------------------------------[ Snipet text ]----------------------------------------*/
.activity_snipet-text
{
    margin-left: 15px;
    margin-top: 15px;
    
    font-weight: 700; 
}










/*--------------------------------------------------[ Footer ]--------------------------------------------------*/
footer
{
    display: flex;
    flex-wrap: wrap;

    height: 100%;

    margin-top: 5px;
    
    background-color: #F2F2F2;
}

footer div
{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;

    width: 26%;
 }

 footer div h3
 {
    margin-top: 25px;
    margin-bottom: 25px;
 }

footer div a 
{
    margin-bottom: 12px;
    
    transform: scale(1);
    transition: all 450ms;
}

footer div a:hover 
{ 
    transform: scale(1.20);
}

