/*--------------------------------------------------[ Generals ]--------------------------------------------------*/
@font-face 
{
    font-family: 'Raleway';
    src: url('/polices/Raleway-VariableFont_wght.ttf') format('truetype') ,
         url('/polices/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

* 
{
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main_wraper
{
    max-width: 1920px;
    margin: 3%;    
}

body 
{
    font-family: 'Raleway', Arial, sans-serif;
}

a
{
    color: black;
}











/*--------------------------------------------------[ Header ]--------------------------------------------------*/
header
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

#logo
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    margin-bottom: 30px;
}

header nav 
{
    display: flex;
    flex-wrap: wrap;

    width: 13%; 
    height: 60px;

    margin-top: 18px;
}

header nav ul
{
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;

    justify-content: space-between;
    align-items: center;
}











/*--------------------------------------------------[ Filters ]--------------------------------------------------*/
#filter-section, h2
{
    margin-bottom: 5px;

    border-bottom: 2%;
}

#filter-section p
{
    margin-top: 5px;
    
    border-top: 2% ;
}

/*----------------------------------------[ Filter bar ]----------------------------------------*/
#filter_searching-bar
{
    display: flex;
    flex-wrap: wrap ;
    
    width: fit-content;
    height: 45px;

    margin-top: 28px;
    margin-bottom: 25px;
    
    border-radius: 10px;

    border: 1px solid #F2F2F2;
    
    overflow: hidden;
}

#filter_searching-bar a
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    width: 45px;

    background-color: #F2F2F2;
}

#searching-bar_input
{
    width: 260px;
    
    margin-right: 0px;
    
    border-right: 0px;
}

#searching-bar_submit 
{
    width: 100px;

    margin-left: 0px;
    
    border-left: 0px; 

    background-color: #0065FC;
    color: white;

    cursor: pointer;
}

/*----------------------------------------[ Filter button bar ]----------------------------------------*/
#filter_button-bar
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    width: 60%;

    margin-bottom: 30px;
}

#filter_button-bar-title
{
    margin-right: 45px;
}

#filter_button-bar-buttons
{
    display: flex;
    flex-wrap: wrap;
}

.filter-button 
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    width: fit-content;
    height: fit-content;

    margin-right: 45px;

    border: 2px #F2F2F2 solid;
    border-radius: 30px;
    
    transform: scale(1);
    transition: all 450ms;
}

.filter-button:hover
{
    transform: scale(1.20);
    background-color: #DEEBFF;
}

label
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
}

.filter-button input
{
   display: none;
}

.filter-button_circle
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    
    border-radius: 200px;
    background: #DEEBFF;
}

.filter_button-text
{
    margin-left: 15px;
    margin-right: 15px;
}

.filter-button i
{
    color: #0065FC;
}

.filter-button a
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

/*----------------------------------------[ Infos ]----------------------------------------*/
#infos
{
    display : flex;
    flex-wrap: wrap;

    align-items: center;

    margin-bottom: 30px;
}

#infos i 
{
    display: flex;
    flex-wrap: wrap;

    color: #0065FC;
}
 
#infos p
{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}











/*--------------------------------------------------[ Lodging ]--------------------------------------------------*/
#lodging-section
{
    display: flex;
    flex-wrap: wrap;

    margin-right: 10px;
    margin-left: 10px;
}

/*--------------------------------------------------[ Section ]--------------------------------------------------*/
#lodging-section section
{
    display: flex;
    flex-wrap: wrap; 

    flex-direction: column;

    width: 65%;
    height: 770px;
    
    margin-right: 30px;

    border-radius: 30px;

    background-color: #F2F2F2;  
}

#lodging-section_title 
{
    margin-left: 35px;
    margin-top: 35px;
}

/*----------------------------------------[ Showcase ]----------------------------------------*/
#lodging-section_showcase
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.lodging-snipet
{
    display: block flex;
    flex-wrap: wrap;

    flex-direction: column;

    width: 28%;
    height: 280px;
    
    margin-top: 30px;

    border-radius: 30px;

    box-shadow: 0px 10px 10px #B2B1B0;

    background-color: white; 
} 

.lodging-snipet_picture
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    width: 96%;
    height: 160px;

    margin-top: 7px;
    margin-left: 6px;
    margin-right: 7px;
    margin-bottom: 12px;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.lodging-snipet_picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.lodging-snipet_name
{
    font-weight: bold;
} 

.lodging-snipet p
{
    height: 30px;

    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.rating-system
{
    height: fit-content;
    width: fit-content;

    margin-left: 30px;
    margin-top: 0px;

    color: #0065FC;
}

/*----------------------------------------[ See More ]----------------------------------------*/
#lodging-section_seeMore
{
    margin-left: 35px;
    margin-top: 30px;
}

#lodging-section_seeMore a
{
    font-weight: bolder;
}






/*--------------------------------------------------[ Aside ]--------------------------------------------------*/
#lodging-section aside
{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;

    height: 770px;
    width: 33%;

    border-radius: 30px;

    background-color: #F2F2F2;
}

/*----------------------------------------[ Title ]----------------------------------------*/
#lodging-aside_title
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    height: 35px;

    margin-left: 30px;
    margin-top: 35px;
    margin-bottom: 30px;
}

#lodging-aside_title h2
{
    margin-bottom: 15px;
}

#lodging-aside_title i
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    margin-right: 30px; 
    margin-bottom: 13px;
}

/*----------------------------------------[ Showcase ]----------------------------------------*/
 #lodging-aside_showcase
{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;

    height: 670px;
}

/*----------------------------------------[ Snipet ]----------------------------------------*/
.lodging-aside_snipet
{
    display:  flex;
    flex-wrap: wrap;

    width: 80%;
    height: 180px;

    border-radius: 30px;

    margin-bottom: 40px;

    background-color: white; 

    box-shadow: 0px 10px 10px #B2B1B0;
}

 .lodging-aside_snipet-picture
 {
    width: 42%;
    height: 165px;

    margin-top: 7px;
    margin-left: 6px;
    margin-bottom: 7px;

    border-radius: 30px 0px 0px 30px;

    overflow: hidden;
 }

 .lodging-aside_snipet-picture img
 {
    width: 100%;
    height: 100%;

    object-fit: cover;
 }

.lodging-aside_snipet-text
{
    width: 50%;
    height: 160px;


    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 30px;    
}

 .lodging-aside_snipet-name
 {
    height: fit-content;
    width: fit-content;

    font-weight: bold;

    border: black solid 1px;
 }

.lodging-aside_snipet-text .rating-system
{
    margin-top: 75px;
    margin-left: 5px;
}











/*--------------------------------------------------[ Activities ]--------------------------------------------------*/
#activity-section
{
    height: 890px ;

    margin-top: 30px ;
}

#activity-title
{
    margin-bottom: 20px;
}

#activity-section_showcase        
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    height: 805px;
}

.activity-container
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    height: 820px;
    width: 23%;

    overflow: hidden;
}

/*----------------------------------------[ Huge snipet ]----------------------------------------*/
.activity_huge-snipet
{
    display: block flex;

    height: 800px;
    width: 100%; 

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;
}

.activity_huge-snipet-picture
{
    height: 750px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_huge-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Medium snipet ]----------------------------------------*/
.activity_medium-snipet
{

    display: block flex;


    height: 500px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;
}

.activity_medium-snipet-picture
{
    height: 450px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_medium-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Small snipet ]----------------------------------------*/
.activity_small-snipet
{
    display: block flex;

    height: 300px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;
}

.activity_small-snipet-picture
{
    height: 250px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_small-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Smaller snipet ]----------------------------------------*/
.activity_smaller-snipet
{
    display: block flex;

    height: 230px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;
}

.activity_smaller-snipet-picture
{
    height: 180px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_smaller-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/*----------------------------------------[ Mediumer snipet ]----------------------------------------*/
.activity_mediumer-snipet
{
    display: block flex;

    height: 430px;
    width: 100%;

    border-radius: 30px;
    box-shadow: 0px 10px 20px #F2F2F2;
}

.activity_mediumer-snipet-picture
{
    height: 380px;
    width: 100%;

    border-radius: 30px 30px 0px 0px;

    overflow: hidden;
}

.activity_mediumer-snipet-picture img
{
    width: 100%;
    height: 100%;

    object-fit: cover;
}


/*----------------------------------------[ Snipet text ]----------------------------------------*/
.activity_snipet-text
{
    margin-left: 15px;
    margin-top: 15px;
    
    font-weight: bold;
}











/*--------------------------------------------------[ Footer ]--------------------------------------------------*/
footer
{
    display: flex;
    flex-wrap: wrap;

    height: 200px;

    margin-top: 5px;
    
    background-color: #F2F2F2;
}

footer div
{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;

    width: 26%;

    margin-left: 80px;
 }

 footer div h3
 {
    margin-top: 25px;
    margin-bottom: 25px;
 }

footer div a 
{
    margin-bottom: 12px;
    
    transform: scale(1);
    transition: all 450ms;
}

footer div a:hover 
{ 
    transform: scale(1.20);
}

