/*--------------------------------------------------[ Footer ]--------------------------------------------------*/
footer
{
    display: flex;
    flex-wrap: wrap;

    height: 200px;

    margin-top: 5px;
    
    background-color: #F2F2F2;
}

footer div
{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;

    width: 26%;

    margin-left: 80px;
 }

 footer div h3
 {
    margin-top: 25px;
    margin-bottom: 25px;
 }

footer div a 
{
    margin-bottom: 12px;
}
