/*--------------------------------------------------[ Generals ]--------------------------------------------------*/
@font-face 
{
    font-family: 'Raleway';
    src: url('/polices/Raleway-VariableFont_wght.ttf') format('truetype') ,
         url('/polices/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

* 
{
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main_wraper
{
    max-width: 1920px;
    margin: 3%;    
}

body 
{
    font-family: 'Raleway', Arial, sans-serif;
}

a
{
    color: black;
}















