/*--------------------------------------------------[ Lodging ]--------------------------------------------------*/
#lodging-section
{
    height: 1580px;
    width: 100%;
    flex-direction: column;
}
/*--------------------------------------------------[ Aside ]--------------------------------------------------*/
#lodging-aside
{
    order: 1;
    height: 760px;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}

/*----------------------------------------[ Showcase ]----------------------------------------*/
#lodging-aside_showcase
{
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}

/*----------------------------------------[ Snipet ]----------------------------------------*/





/*----------------------------------------[ Title ]----------------------------------------*/
#lodging-aside_title
{
    width: 100%;

    margin-left: 35px;
}

/*--------------------------------------------------[ Section ]--------------------------------------------------*/
#lodging-section_main
{
    order: 2;
    height: 820px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#filter_button-bar h3
{
    margin-bottom: 15px;
}