/*--------------------------------------------------[ Lodging ]--------------------------------------------------*/
#lodging-section
{
    height: 1500px;
    width: 100%;
    flex-direction: column;
}
/*--------------------------------------------------[ Aside ]--------------------------------------------------*/
#lodging-aside
{
    order: 1;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}

/*----------------------------------------[ Title ]----------------------------------------*/
#lodging-aside_title
{
    width: 100%;
}

/*--------------------------------------------------[ Section ]--------------------------------------------------*/
#lodging-section_main
{
    order: 2;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

