/*----------------------------------------[ FIlter bar ]----------------------------------------*/
#filter_searching-bar
{
    width: 100%;
}

#filter_searching-bar a
{
    width: 15%;
}

#searching-bar_input
{
    width: 70%;
}

#searching-bar_submit 
{
    width: 15%;
}

#activity-section
{
    height: 1200px;
    width: 100%;

    flex-direction: column;

    margin-bottom: 100px;
}

#activity-title
{
    margin-bottom: 30px;
}

.activity-container
{
    align-items: center;

    width: 100%;
    height: fit-content;
}

/*--------------------------------------------------[ Lodging ]--------------------------------------------------*/
#lodging-section
{
    height: 1790px;

    margin-bottom: 30px;
}

/*--------------------------------------------------[ Aside ]--------------------------------------------------*/
#lodging-aside
{
    order: 1;
    flex-direction: row;
    width: 100%;
    height: 720px;
    margin-bottom: 30px;

}

/*--------------------------------------------------[ Section ]--------------------------------------------------*/
#lodging-section_main
{
    width: 100%;
    height: 1070px;
}


/*----------------------------------------[ Showcase ]----------------------------------------*/
#lodging-section_showcase
{
    width: 100%;
}



.lodging-snipet
{
    width: 40%;
}




/*--------------------------------------------------[ Activities ]--------------------------------------------------*/
#activity-section
{
    height: 900px;
    width: 100%;

    flex-direction: column;

    margin-bottom: 20px;
}

#activity-title
{
    margin-bottom: 30px;
}

.activity-container
{
    align-items: center;

    width: 100%;
    height: fit-content;
}


/*----------------------------------------[ Huge snipet ]----------------------------------------*/
.activity_huge-snipet
{
    width: 100%;
    height: 180px;

    margin-bottom: 25px;
}
.activity_huge-snipet-picture
{
    width: 100%;
    height: 130px;
}

/*----------------------------------------[ Medium snipet]----------------------------------------*/
.activity_medium-snipet
{
    width: 45%;
    height: 180px;

    margin-bottom: 25px;
}
.activity_medium-snipet-picture
{
    width: 100%;
    height: 130px;
}

/*----------------------------------------[ Small snipet ]----------------------------------------*/
.activity_small-snipet
{
    width: 45%;
    height: 180px;

    margin-bottom: 25px;
}
.activity_small-snipet-picture
{
    width: 100%;
    height: 130px;
}

/*----------------------------------------[ Smaller snipet ]----------------------------------------*/
.activity_smaller-snipet
{
    width: 45%;
    height: 180px;

    margin-bottom: 25px;
}
.activity_smaller-snipet-picture
{
    width: 100%;
    height: 130px;
}

/*----------------------------------------[ Mediumer snipet ]----------------------------------------*/
.activity_mediumer-snipet
{
    width: 45%;
    height: 180px;

    margin-bottom: 25px;
}
.activity_mediumer-snipet-picture
{
    width: 100%;
    height: 130px;
}
